<div class="text-center mt-5">
    <h5>Kevin Cruz</h5>
    <h6>Ushuaia, Tierra del Fuego</h6>
    <div class="footer-menu">
        <p>+54 9 2901562054</p>
        <p>matias4596@hotmail.com.ar</p>
    </div>
    <div>
        <i class="bi bi-twitter mx-1"></i>
        <i class="bi bi-facebook mx-1"></i>
        <i class="bi bi-youtube mx-1"></i>
        <i class="bi bi-instagram mx-1"></i>
        <i class="bi bi-linkedin mx-1"></i>
        <p>&copy; <a href="#"> {{ anio }} Your Site Name</a>, All Right Reserved</p>
    </div>
</div>