<div class="navbar navbar-expand-lg bg-light sticky-top" id="navbar-rolado">
        <div class="container-fluid">
            <i class="bi bi-briefcase-fill"></i>
            <a href="index.html" class="navbar-brand mx-3">Argentina Programa</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="#home" class="nav-item nav-link active">Home</a>
                    <a href="#about" class="nav-item nav-link">About</a>
                    <a href="#experiencia" class="nav-item nav-link">Experiencia</a>
                    <a href="#estudios" class="nav-item nav-link">Estudios</a>
                </div>
                
            <button type="button" class="btn btn-outline-primary mx-3" (click)="login()" *ngIf="!isLogged">Ingresar</button>
            <button type="button" class="btn btn-outline-primary" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
            </div>
        </div>
</div>


<section id="home">
    <div class="user">
        <div class="container-fluid ">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="user-content">
                        <div class="user-text mt-3">
                            <p>I'm</p>
                            <h1>Kevin Cruz</h1>
                        </div>
                        <div class="user-btn pb-3">
                            <a class="btn" href="">Hire Me</a>
                            <a class="btn" href="">Contact Me</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-none d-md-block">
                    <div class="image">
                        <img src="assets/img/portfolio-6.jpg" alt="user Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>