<!-- <section>
    <div class="container mb-4 pt-2">        
        <span class="h2" id="experiencia">Experiencia:</span>
        <button class="btn btn-info float-end">Agregar</button>
        <hr>
    </div>
    
    <div *ngFor="let experiencia of _firebaseService.experiencia" class="container mb-5">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-3">
                    <img [src]="experiencia.url" class="img-fluid img-thumbnail" alt="...">
                </div>
                <div class="col">
                    <div class="card-body">
                        <span class="card-title h3">{{ experiencia.exp }}</span>
                        <div class="float-end">
                            <i class="bi bi-pencil-square h5 text-info mx-2"></i>
                            <i class="bi bi-trash h5 text-danger"></i>
                        </div>
                    <p class="card-text mt-3">{{ experiencia.tareas }}</p>
                    <p class="card-text"><small class="text-muted">{{ experiencia.Nombre }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
            Nueva Experiencia
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experiencia of expe">
                    <td>
                        <h2>{{Experiencia.nombreE}}</h2>
                    </td>
                    <td>{{Experiencia.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
                            <i class="bi bi-pencil-fill"></i> EDITAR</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>