<section id="educacion">
    <div class="container border rounded pt-3">
        <span class="h2 mx-3">Educacion</span>
        <button class="btn btn-primary float-end">Agregar</button>
        <div class="mb-3">
            <div class="row mt-4">
                <div class="col-md-3 d-flex justify-content-center">
                    <img src="assets/img/portfolio-2.jpg" class="img-fluid p-3" alt="...">
                </div>

                <div class="col d-flex align-items-center">
                    <figure class="text-center">
                        <span class="h2">UNTDF</span>
                        <div class="float-end">
                            <i class="bi bi-pencil-square h5 text-info mx-2"></i>
                            <i class="bi bi-trash h5 text-danger"></i>
                        </div>
                        <blockquote class="blockquote mt-2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque incidunt ipsam dignissimos voluptatibus doloremque sapiente cumque quas, adipisci cupiditate sit consequuntur nemo ea, facilis in recusandae nihil explicabo? Alias, illo?</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mt-2">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    
        <div>
            <div class="row">
                <div class="col-md-3 d-flex justify-content-center">
                    <img src="assets/img/portfolio-2.jpg" class="img-fluid p-3" alt="...">
                </div>
                <div class="col d-flex align-items-center">
                    <figure class="text-center">
                        <span class="h2">UNTDF</span>
                        <div class="float-end">
                            <i class="bi bi-pencil-square h5 text-info mx-2"></i>
                            <i class="bi bi-trash h5 text-danger"></i>
                        </div>
                        <blockquote class="blockquote mt-2">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque incidunt ipsam dignissimos voluptatibus doloremque sapiente cumque quas, adipisci cupiditate sit consequuntur nemo ea, facilis in recusandae nihil explicabo? Alias, illo?</p>
                        </blockquote>
                        <figcaption class="blockquote-footer mt-2">
                            Someone famous in <cite title="Source Title">Source Title</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>