/* You can add global styles to this file, and also import other style files */
.example-spacer {
    flex: 1 1 auto;
}

/*******************************/
/********** User CSS ***********/
/*******************************/
.user {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    /* padding: 120px 0 0 0; */
    overflow: hidden;
    background: linear-gradient(rgba(35, 103, 239, 0.95), rgba(239, 35, 60, .95));
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.user .container-fluid {
    padding: 0;
}

.user .user-image {
    position: relative;
    text-align: right;
    padding-right: 75px;
}

.user .user-image img {
    max-width: 80%;
    max-height: 80%;
}

.user .user-content {
    position: relative;
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.user .user-text p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.user .user-text h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.user .user-text h2 {
    display: inline-block;
    margin: 0;
    height: 35px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}

.user .user-text .typed-text {
    display: none;
}

.user .user-text .typed-cursor {
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}

.user .user-btn .btn {
    margin-top: 35px;
    color: #EF233C;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.user .user-btn .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}

.user .user-btn .btn:first-child {
    margin-right: 10px;
}


/* IMAGEN CIRCULAR - START */
.image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #ffffff
}
/* IMAGEN CIRCULAR - END */


.card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}