<div class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand">Argentina Programa</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <a href="#home" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#experiencia" class="nav-item nav-link">Experiencia</a>
                <a href="#estudios" class="nav-item nav-link">Estudios</a>
                
            </div>
        </div>
    </div>
    
</div>
