<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Agregar Experiencia</h3>

                    <form class="mt-4">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Titulo">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Descripcion">
                            </div>
                        </div>

                        <input type="text" class="form-control mt-3" 
                                placeholder="Imagen">
                        
                        <button type="text" class="btn btn-secondary mt-3 mx-3" routerLink="/portfolio">Volver</button>
                        <button type="submit" class="btn btn-primary mt-3">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>